<!DOCTYPE HTML>
<html>
	<head>
		{% block header %}
			<title>ShadowTube</title>
			<script src="jquery-3.6.0.min.js"></script>
			<link rel="stylesheet" type="text/css" href="style.css">
		{% endblock %}
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
	<footer>
		{% block footer %}
			<!-- <a style="color: black" href="/">Onion link</a> -->
			<a target="_blank" href="https://github.com/danehobrecht/shadowtube">
				<img src="images/GitHub-Mark-Light-32px.png"/>
			</a>
		{% endblock %}
	</footer>
</html>