{% extends "base.html" %}
{% block body %}
	<div class="center-page">
		<div id="input">
			<a style="text-decoration: none;" href="{{ url_for('video') }}">
				<h1>ShadowTube</h1>
			</a>
			<a href="https://www.youtube.com/feed/history/comment_history" target="_blank">
				<p>Google comment history page</p>
			</a>
			<form method="POST" enctype="multipart/form-data" action="http://localhost:5000/comments">
				<div class="comments-input">
					<input id="file" type="file" name="file"/>
					<input class="toshow" type="submit" value="Confirm"/>
				</div><br><br>
			</form>
		</div>
		<div class="loader toshow"></div>
		<script>
			$("input#file").change(function() {
				if ($('#file').get(0).files.length === 0) {
					alert("No files selected.");
				} else {
					$("input.toshow").show();
				}
			});
			$("input.toshow").click(function(e){
				$("#input").hide();
				$(".loader").show();
			});
		</script>
	</div>
{% endblock %}
